body {
  font-family: Arial, sans-serif;
  font-size: 12pt;
  letter-spacing: 1px;
}

ul.tabs::after {
  content: "";
  clear: both;
  display: block;
}

ul.tabs > li a {
  display: block;

  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;

  margin: 1px;
  padding: 10px;

  float: left;

  text-decoration: none;
}

ul.tabs > li a:not(.active):hover {
    background-color: rgba(0, 127, 0, 0.2);
}

ul.tabs > li a.active {
    background-color: rgba(0, 127, 0, 0.4);
    font-weight: bold;
}

div.content-tabs {
    margin: 1px; 
    padding: 10px;
    
    width: 500px;

    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;

    line-height: 2em;
}

div.tab-pane {
    display: none;
}

div.tab-pane.active, div.tab-pane.transitioning {
    display: block;
    
    opacity: 1.0;
    transition: opacity 0.1s ease-in-out;
}

div.tab-pane.transitioning {
    opacity: 0.0;
}
