div.carousel {
    position: relative;

    width: 800px;
    height: 500px;
    
    margin: 10px auto 50px;
}

div.carousel > div.items {
    overflow: hidden;
    
    height: 100%;
    width: 100%;
    
    position: relative;
}

div.carousel > div.items > img {
    position: absolute;
    top: 0;
    
    width: 100%;
}

div.carousel > div.items > img.active {
    left: 0;
    
    transition: left 500ms linear;
}

div.carousel > div.items > img:not(.active) {
    display: none;
}

div.carousel > div.items > img.active.left {
    left: -100%;
}

div.carousel > div.items > img.active.right {
    left: 100%;
}

div.carousel > a.slide-left, div.carousel > a.slide-right {
  display: table;

  position: absolute;

  top: 0;

  width: 150px;
  height: 100%;

  opacity: 0.0;

  text-decoration: none;
  text-shadow: 2px 2px 5px black;

  font-size: 50px;

  color: rgba(255, 255, 255, 0.3);
}

div.carousel > a.slide-left {
  left: 0;

  background: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
}

div.carousel > a.slide-right {
  right: 0;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
}

div.carousel > a.slide-left:hover, div.carousel > a.slide-right:hover {
  opacity: 1.0;
}

div.carousel > a.slide-left > span, div.carousel > a.slide-right > span {
  display: table-cell;

  padding: 30px;
  vertical-align: middle;
}

div.carousel > a.slide-right > span {
  text-align: right;
}
